<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging Tool | Edit Article</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="px-24 m-0">

        <%- include('layouts-blog-info.ejs') %>

        <a href="/author/home" class="absolute text-xl top-5 text-sky-400">
            Back
        </a>

        <!-- Article Info -->
        <div class="flex justify-start text-xl">
            <div class="p-6 border rounded-md bg-sky-200">
                <li class="list-none">
                    <ul>Created: <%= formatDate(article.created_at) %></ul>
                    <ul>Last modified: 
                        <% if (article.updated_at) { %>
                            <%= formatDate(article.updated_at) %>
                         <% } else { %>
                            -
                        <% } %>
                    </ul>
                    <ul>Status: <%= article.published === 1? 'Published' : 'Draft' %></ul></ul>
                </li>
            </div>
        </div>

        <!-- Article Body -->
        <div class="text-xl py-14">
            <form action="/author/home/edit-article/<%= article.id %>" method="post">
                <input type="hidden" name="_method" value="PUT">
                <div class="py-2">
                    <label for="title" class="text-2xl">Title:</label>
                    <input type="text" name="title" id="" class="p-2 border border-slate-500" value="<%= article.title %>">
                </div>
                <div class="py-2">
                    <label for="subtitle" class="text-2xl">Subtitle:</label>
                    <input type="text" name="subtitle" id="" class="p-2 border border-slate-500" value="<%= article.subtitle %>">
                </div>
                <div class="py-2">
                    <label for="content" class="block text-2xl">Content:</label>
                    <textarea name="content" id="" cols="50" rows="5" class="p-2 border border-slate-500"><%= article.content %></textarea>
                </div>
                <input type="hidden" name="articleId" value="<%= article.id %>">
                <button class="h-12 font-bold text-white rounded-lg bg-sky-400 w-28 hover:bg-sky-700">Update</button>
            </form>
        </div>

    </div>
</body>
</html>